@{
    ViewData["Title"] = "Générateur de code d'accès";
}

<div class="text-center">
    <h1 class="display-4">Générateur de code d'accès</h1>
    <br/>
    <p><a asp-action="ObtenirCode">Obtenir un code d'accès</a></p>
    <br/>
    <p><a asp-action="ValiderCode">Valider un code d'accès</a></p>
    <br/>
    <p><a asp-action="ListerDemandes">Consulter les demandes</a></p>
</div>
